<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseInitializerForType DataAccess.BreakAwayContext, DataAccess"
         value="System.Data.Entity.DropCreateDatabaseIfModelChanges`1[[DataAccess.BreakAwayContext, DataAccess]], EntityFramework" />
  </appSettings>
  <connectionStrings>
    <!--<add name="BreakAwayContext" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=.\SQLEXPRESS;
          Database=BreakAwayConfigFile;
          Trusted_Connection=true"/>-->
  </connectionStrings>
</configuration>